<div class="card">

  <!-- header -->
  <div class="card-header">
    <div class="d-flex">
      <h4 class="mr-auto p-2">{{templateElement.value.name}}</h4>
      <h4 class="p-2">{{templateElement.value.filterType}}</h4>
      <div class="p-2">
        <i (click)="hideBody = !hideBody" [ngClass]="{'fas': true, 'fa-angle-down': hideBody, 'fa-angle-up': !hideBody}" style="font-size:30px;"></i>
      </div>




    </div>
  </div>

  <!-- body -->
  <div class="card-body" [@openClose]="!hideBody">
    <ng-template appTemplateElementDirective>
    </ng-template>
    <button class="p-2 btn btn-danger float-right" (click)="remove()">Delete filter</button>

  </div>

</div>