<div class="container">
  <button type="button" (click)="printValues()" class="btn btn-success">List values</button>

  <div class="btn-group" dropdown>
    <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
      Add filter
      <span class="caret"></span>
    </button>
    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
      <li role="menuitem" *ngFor="let filter of filterTypes" (click)="addComponent(filter.component)">
        <a class="dropdown-item" href="#">{{filter.name}}</a>
      </li>
    </ul>
  </div>

  <div class="container">
    <h2 class="list-element">Create a new template</h2>
    <div class="form-group list-element" >
      <h4 for="nameInput">Name of the template</h4>
      <input type="text" class="form-control" placeholder="Describe the template with a short name" [(ngModel)]="templateDto.name"
        name="templateName">
    </div>

    <div class="form-group list-element">
      <h4 for="nameInput">List of filters</h4>
      <ng-template appTemplateElementDirective>
      </ng-template>
    </div>
  </div>
</div>